In [54]:
import pandas as pd

In [55]:
df = pd.read_csv("aml.csv")
df.head()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,231,CASH_IN,6069.23,C303157620,2927641.34,2933710.56,C444385839,219290.55,213221.32,0,0
1,178,PAYMENT,8299.19,C725837557,222178.37,213879.18,M1924045729,0.00,0.00,0,0
2,403,CASH_OUT,256625.10,C1118105973,126189.59,0.00,C28426062,367610.64,624235.73,0,0
3,329,CASH_OUT,107564.65,C1775772897,31718.00,0.00,C491851234,438985.98,546550.63,0,0
4,36,CASH_IN,316271.82,C1028089953,58741.00,375012.82,C850692201,67656.48,0.00,0,0

In [56]:
df.shape

(2500000, 11)

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500000 entries, 0 to 2499999
Data columns (total 11 columns):
 #   Column          Dtype
---  ------          -----
 0   step            int64
 1   type            object
 2   amount          float64
 3   nameOrig        object
 4   oldbalanceOrg   float64
 5   newbalanceOrig  float64
 6   nameDest        object
 7   oldbalanceDest  float64
 8   newbalanceDest  float64
 9   isFraud         int64
 10  isFlaggedFraud  int64
dtypes: float64(5), int64(3), object(3)
memory usage: 209.8+ MB

In [58]:
df.isnull().sum()

step              0
type              0
amount            0
nameOrig          0
oldbalanceOrg     0
newbalanceOrig    0
nameDest          0
oldbalanceDest    0
newbalanceDest    0
isFraud           0
isFlaggedFraud    0
dtype: int64

In [59]:
l = ["type","isFraud","isFlaggedFraud"]
for i in l:
    print(i,"-",df[i].unique())

type - ['CASH_IN' 'PAYMENT' 'CASH_OUT' 'TRANSFER' 'DEBIT']
isFraud - [0 1]
isFlaggedFraud - [0 1]

In [60]:
df1 = df.drop(["step","nameOrig", "nameDest"], axis = 1)

In [61]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500000 entries, 0 to 2499999
Data columns (total 8 columns):
 #   Column          Dtype
---  ------          -----
 0   type            object
 1   amount          float64
 2   oldbalanceOrg   float64
 3   newbalanceOrig  float64
 4   oldbalanceDest  float64
 5   newbalanceDest  float64
 6   isFraud         int64
 7   isFlaggedFraud  int64
dtypes: float64(5), int64(2), object(1)
memory usage: 152.6+ MB

In [62]:
from sklearn.preprocessing import MinMaxScaler

In [63]:
scaler = MinMaxScaler()

In [64]:
for i in df1:
    if i != "type":
        df1[i] = scaler.fit_transform(df1[[i]])

In [65]:
df2 = pd.get_dummies(data = df1 , columns = ["type"], drop_first = True)
df2.head()

,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud,type_CASH_OUT,type_DEBIT,type_PAYMENT,type_TRANSFER
0,0.000066,0.049134,0.059165,0.000617,0.000599,0.0,0.0,0,0,0,0
1,0.000090,0.003729,0.004313,0.000000,0.000000,0.0,0.0,0,0,1,0
2,0.002776,0.002118,0.000000,0.001034,0.001753,0.0,0.0,1,0,0,0
3,0.001164,0.000532,0.000000,0.001235,0.001535,0.0,0.0,1,0,0,0
4,0.003421,0.000986,0.007563,0.000190,0.000000,0.0,0.0,0,0,0,0

In [66]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500000 entries, 0 to 2499999
Data columns (total 11 columns):
 #   Column          Dtype
---  ------          -----
 0   amount          float64
 1   oldbalanceOrg   float64
 2   newbalanceOrig  float64
 3   oldbalanceDest  float64
 4   newbalanceDest  float64
 5   isFraud         float64
 6   isFlaggedFraud  float64
 7   type_CASH_OUT   uint8
 8   type_DEBIT      uint8
 9   type_PAYMENT    uint8
 10  type_TRANSFER   uint8
dtypes: float64(7), uint8(4)
memory usage: 143.1 MB

In [67]:
X = df2.drop("isFlaggedFraud", axis = 1)
y = df2["isFlaggedFraud"]

In [68]:
from sklearn.model_selection import train_test_split

In [69]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

In [70]:
from sklearn.linear_model import LogisticRegression

In [71]:
Lr = LogisticRegression()
Lr.fit(X_train, y_train)
Lr.score(X_test, y_test)

0.999994

In [72]:
from sklearn.ensemble import RandomForestClassifier

In [73]:
rf = RandomForestClassifier()
rf.fit(X_train, y_train)
rf.score(X_test, y_test)

0.999994